@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}